body{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("./photo-1560762484-813fc97650a0.avif");
    background-size: cover;
text-align: center;
transition: filter .7s;
}
h1{
    font-size: 60px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-shadow: 2px 2px 4px rgba(0 , 0 , 0 , 0.6);
   letter-spacing: 4px;

}
.btn{
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    background-color: orangered;
    border: none;
    border-radius: 5px ;
    font-size: 20px;
}
.btn:hover{
    filter: brightness(0.8);
}
.active.container{
    filter: blur(5px) brightness(0.7);
}
.popup-container{
    position: fixed;
    background-color: white;
transform: translate(-50%);
    left: 50%;
    top: 30%;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
background: url(./95cdfeef.avif);
background-size: cover;
border-radius: 10px;
 opacity: 1;
 transition: all 0.9s; 
}
h4{
    font-size: 30px;
    margin: 10px 0;
    font-family: sans-serif;
    color: rgb(130, 4, 248);
}
label{
    color: rgb(70, 18, 243);
    font-family: sans-serif;
}
.popup-btn{
    background-color: brown;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
}
.input{
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}
.input::placeholder{
color: lightslategray;
}
.close-icon{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.close-icon:hover{
    color: rgb(9, 30, 135);
}
.active.popup-container{
    visibility: hidden;
   opacity: 0;
    top:10%; 
}